tr{
    
    background-color: grey;
  }
  th{
    font-weight: 900;
    background-color: darkturquoise;
  }
  table{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      border-collapse: collapse;
      border-width: 2px;
      border-style: double;
  }
  